body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    background-image: url(../login/riversesion.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 1% auto 20px;
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 20%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative; /* Añadido para que .info se posicione absolutamente dentro de .slide */
}

.slide img {
    width: 100%;
    vertical-align: top;
}

.nav {
    text-align: center;
    margin-top: 10px;
}

.nav-boton {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

#slide5:checked ~ .slides {
    transform: translateX(-400%);
}

#slide6:checked ~ .slides {
    transform: translateX(-500%);
}

#slide7:checked ~ .slides {
    transform: translateX(-600%);
}

#slide8:checked ~ .slides {
    transform: translateX(-700%);
}

#slide9:checked ~ .slides {
    transform: translateX(-800%);
}

#slide10:checked ~ .slides {
    transform: translateX(-900%);
}

#slide11:checked ~ .slides {
    transform: translateX(-1000%);
}

#slide12:checked ~ .slides {
    transform: translateX(-1100%);
}

#slide13:checked ~ .slides {
    transform: translateX(-1200%);
}

#slide14:checked ~ .slides {
    transform: translateX(-1300%);
}

#slide15:checked ~ .slides {
    transform: translateX(-1400%);
}

#slide16:checked ~ .slides {
    transform: translateX(-1500%);
}

#slide17:checked ~ .slides {
    transform: translateX(-1600%);
}

#slide18:checked ~ .slides {
    transform: translateX(-1700%);
}

#slide19:checked ~ .slides {
    transform: translateX(-1800%);
}

#slide20:checked ~ .slides {
    transform: translateX(-1900%);
}

#slide21:checked ~ .slides {
    transform: translateX(-2000%);
}

#slide22:checked ~ .slides {
    transform: translateX(-2100%);
}

#slide23:checked ~ .slides {
    transform: translateX(-2200%);
}

#slide24:checked ~ .slides {
    transform: translateX(-2300%);
}

#slide25:checked ~ .slides {
    transform: translateX(-2400%);
}

#slide26:checked ~ .slides {
    transform: translateX(-2500%);
}

#slide27:checked ~ .slides {
    transform: translateX(-2600%);
}

#slide28:checked ~ .slides {
    transform: translateX(-2700%);
}

#slide29:checked ~ .slides {
    transform: translateX(-2800%);
}

.info {
    position: absolute; /* Cambiado a absolute */
    bottom: 0%; /* Ajustado para moverlo más abajo */
    left: 10px;
    right: 10px; /* Para asegurarse de que el contenedor ocupe todo el ancho */
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del elemento */
}

.info h2 {
    margin: 0;
    font-size: 20px;
}

.info p {
    margin: 0;
    font-size: 16px;
}

/*SECCIONES*/

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: absolute; /*Añadir para que los elementos con position absolute dentro de header se posicionen relativos a este*/
    top: 0;
    width: 100%;
    z-index: 3; /* Asegura que el header esté sobre el login*/
}

.logocontenedor {
    position: absolute; /*Pongo el logo en una posición absoluta para que quede sobre la imagen del estadio*/
    top: 10px;
    left: 20px;
    z-index: 3;
}

.logo {
    height: 100px;
}

a:link {
    color: rgb(248, 243, 243);
}

a:visited {
    color: rgba(233, 208, 179, 0.868);
}

header > nav {
    width: 100%;
    flex: 1; /*Permite que el nav ocupe el espacio restante */
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-left: 150px; /*Espacio a la izquierda para que no se superponga con el logo*/
}

/*Va a seleccionar todos los elementos de nav que sean divs*/
nav > div {
    width: 14.6%;
    float: left;
    background-color: #333;
    height: 10%;
    padding: 1.1rem;
    box-sizing: border-box;
    border: 2px solid black;
}

nav > div:hover {
    background-color: rgb(246, 39, 39);
    color: rgb(15, 16, 16);
}