body {
    background: #0f0e0e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
}

.contenido {
    display: flex;
    flex: 1;
}

.nombreestadio {
    padding: 30px;
    font-size: 40px;
    line-height: 1.6;
    color: rgb(255, 7, 7);
    margin-top: 60px; 
    text-align: center;
}

.cajainfo {
    margin-top: 5px;
    padding: 20px;
    width: 16.4%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: auto;
    height: 600px;
    text-align: left;
}

b {
    font-size: larger;
}

h2 {
    color: rgb(255, 7, 7);
}

.cajaubi {
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 22px;
    width: 1000px;
    height: 600px;
}

.cajaubi iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.cajafotos {
    margin-top: 5px;
    margin-bottom: auto;
    padding: 20px;
    width: 30%;
}

.estadio-img {
    width: 100%;
    height: 400px;
    max-width: 600px;
    margin-bottom: 20px; /* Espaciado entre imágenes */
}

/*SECCIONES*/

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: absolute; /*Añadir para que los elementos con position absolute dentro de header se posicionen relativos a este*/
    top: 0;
    width: 100%;
    z-index: 3; /* Asegura que el header esté sobre el login*/
}

.logocontenedor {
    position: absolute; /*Pongo el logo en una posición absoluta para que quede sobre la imagen del estadio*/
    top: 10px;
    left: 10px;
    z-index: 3;
}

.logo {
    height: 100px;
}

a:link {
    color: rgb(248, 243, 243);
}

a:visited {
    color: rgba(233, 208, 179, 0.868);
}

header > nav {
    width: 100%;
    flex: 1; /*Permite que el nav ocupe el espacio restante */
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    margin-left: 150px; /*Espacio a la izquierda para que no se superponga con el logo*/
}

/*Va a seleccionar todos los elementos de nav que sean divs*/
nav > div {
    width: 14.6%;
    float: left;
    background-color: #333;
    height: 10%;
    padding: 1.1rem;
    box-sizing: border-box;
    border: 2px solid black;
}

nav > div:hover {
    background-color: rgb(246, 39, 39);
    color: rgb(15, 16, 16);
}